a{
    text-decoration: none;
    color:  rgb(46, 46, 46);;
    
}
.nav1{
    display: flex;
    justify-content:space-between;
    align-items: center;
    
}
.anchor ul{

        display: flex;
        flex-direction: row;
        list-style: none;
        gap: 200px;
        justify-content: center;   
        width: 80%;
    
}

input{
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    border-width:0px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

     
}

.boys{
    background-image: linear-gradient(90deg, rgb(26, 26, 26) 24.97%, rgb(26, 26, 26) 38.3%, rgba(26, 26, 26, 0.04) 97.47%, rgb(26, 26, 26) 100%), url("https://assets-in.bmscdn.com/iedb/movies/images/mobile/listing/xxlarge/manjummel-boys-et00386670-1707452965.jpg");
    width: 100%;
    padding: 32px 0px;
    background-position: right center;
    margin: 0px auto;
    display: flex
    
}

.boys details{
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-left: 20px;
    b{
        color: red;
    }
}

.boys img{
    margin-left: 40px;
    border-radius: 10px;
}
.book{
    border-radius: 5px;
    background-color: #D3494E;
    width: 100px;
    padding: 10px;
    border-width:0px;
    transition: transform 0.3s ease-in-out;
    color: white;

}


.book:hover {
    transform: scale(1.2);
}



.siren{
    background-image:linear-gradient(90deg, rgb(26, 26, 26) 24.97%, rgb(26, 26, 26) 38.3%, rgba(26, 26, 26, 0.04) 97.47%, rgb(26, 26, 26) 100%), url(https://assets-in.bmscdn.com/iedb/movies/images/mobile/listing/xxlarge/siren-et00384518-1707388385.jpg );
    width: 100%;
    padding: 32px 0px;
    background-position: right center;
    margin: 0px auto;
    display: flex;
    
}
.siren details{
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-left: 20px;
    b{
        color: red;
    }
}

.siren img{
    margin-left: 40px;
    border-radius: 10px;
}
.book{
    border-radius: 5px;
    background-color: #D3494E;
    width: 100px;
    padding: 10px;
    border-width:0px;
    transition: transform 0.3s ease-in-out;
    color: white;

}


.book:hover {
    transform: scale(1.2);
}


.lover{
    background-image: linear-gradient(90deg, rgb(26, 26, 26) 24.97%, rgb(26, 26, 26) 38.3%, rgba(26, 26, 26, 0.04) 97.47%, rgb(26, 26, 26) 100%), url("https://assets-in.bmscdn.com/iedb/movies/images/mobile/listing/xxlarge/lover-et00385185-1706520153.jpg");
    width : 100%;
    padding: 32px 0px;
    background-position: right center;
    margin: 0px auto;
    display: flex;
        
}

.lover img{
    border-radius: 10px;
    margin-left: 40px;
}
.lover details{
        color: whitesmoke;
        display: flex;
        flex-direction: column;
        width: 30%;
        margin-left: 20px;
        b{
            color: red;
        }
    }
    
.blue{
    background-image:linear-gradient(90deg, #1A1A1A 24.97%, #1A1A1A 38.3%,rgba(26, 26, 26, 0.0409746) 97.47%, #1A1A1A 100%), url(https://assets-in.bmscdn.com/iedb/movies/images/mobile/listing/xxlarge/blue-star-et00384166-1705647405.jpg);
    width: 100%;
    padding: 32px 0px;
    background-position: right center;
    margin: 0px auto;
    display: flex;

}

.blue details{
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-left: 20px;
    b{
        color: red;
    }
}
.blue img{
    border-radius: 10px;
    margin-left: 40px;
}



.vadaku{
    background-image: linear-gradient(90deg, rgb(26, 26, 26) 24.97%, rgb(26, 26, 26) 38.3%, rgba(26, 26, 26, 0.04) 97.47%, rgb(26, 26, 26) 100%), url("https://assets-in.bmscdn.com/iedb/movies/images/mobile/listing/xxlarge/vadakkupatti-ramasamy-et00385176-1706523602.jpg");
    width: 100%;
    padding: 32px 0px;
    background-position: right center;
    margin: 0px auto;
    display: flex;

}

.vadaku details{
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-left: 20px;
    b{
        color: red;
    }
}
.vadaku img{
    border-radius: 10px;
    margin-left: 40px;
}

.text{
    height: 80px;
    width: 100%;
    background-color: grey;
    padding-top: 10px;
    margin-top: 50px;
}

.footer{
    height: 450px;
    
}
.send{
    margin-top: 50px;
}
label{
    font-weight: bolder;
    font-size: xx-large;
    color:  rgb(43 49 72);
}
.send{
    width: 100px;
    padding: 10px;
    border-radius: 5px;
    border-width:0px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    background-color: #D3494E;
}
.send:hover{
    color: white;
   

}
.address{
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500; 
    margin-bottom: 50px;
}


small{
    justify-items: center;
    
}

