
a{
    text-decoration: none;
    color: rgb(46, 46, 46);
    
}
.nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
    
}
.anchor ul{

        display: flex;
        flex-direction: row;
        list-style: none;
        gap: 200px;
        justify-content: center;
        width: 80%;
        
        
    
    
}
input{
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    border-width:0px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
     
}



.main  img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 10px 5px;
    margin-top: 30px;
    border-radius: 10px;
    margin-bottom: 50px;
    justify-content: center;
}
.container1 h2{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bolder;
    margin-left: 45px;


}

.container1 img{
    border-radius: 10px;
    margin-left: 45px;
    height: 300px ;
    transition: transform 0.3s ease-in-out;
    margin-top: 20px;
    box-shadow:0 0 8px 1px ;
    


}

.container1 img:hover {
    transform: scale(1.2);
}

.banner  img{
     border-radius: 10px;
     margin-left: 45px ;
     margin-top: 70px;
     box-shadow: 0 0 8px 1px;

     
}
.container2 h2{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bolder;
    margin-left: 45px;
    margin-top: 50px;

}
.container2 img{
    border-radius: 10px;
    box-shadow: 0 0 8px 1px;
    height: 200px;
    align-items: center;
    margin-left: 45px ;
    transition: transform 0.3s ease-in-out;
    margin-top: 20px;

}


.container2 img:hover {
    transform: scale(1.2);
}

.premiere{
    background-color: rgb(43 49 72);
    height: 600px;
    margin-top: 50px;
    
   
}

.premiere img{
   margin-left: 45px;
   width: 80%;
   border-radius: 10px;
}

.premiere h2{
    color: white;
    margin-left: 45px;
}
p{
    color: white;
    margin-left: 45px;
}
 

    
.preimg{
    display: flex;
    height: 320px;
    width: 300px;
    border-radius: 10px;
}
.text{
    height: 80px;
    width: 100%;
    background-color: grey;
    padding-top: 10px;
    margin-top: 50px;
}




.footer{
    height: 400px;
    
}
.button{
    margin-top: 50px;
}
label{
    font-weight: bolder;
    font-size: xx-large;
    color:  rgb(43 49 72);
}
button{
    width: 100px;
    padding: 10px;
    border-radius: 5px;
    border-width:0px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    background-color: #D3494E;
}
button:hover{
    color: white;
   

}
.address{
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500; 
    margin-bottom: 50px;
}
small{
    justify-items: center;
}








  
  
    

